<p>Origin: <%= itinerary.origin %></p>
<p>Destination: <%= itinerary.destination %></p>
<% unless itinerary.depart_on.blank? %>
<p>Depart on: <%= itinerary.depart_on.to_formatted_s(:long) %></p>
<% end %>
<% unless itinerary.return_on.blank? %>
<p>Return on: <%= itinerary.return_on.to_formatted_s(:long) %></p>
<% end %>

<% if itinerary.waypoints.any? %>
  <h3>Waypoints</h3>
  <% itinerary.waypoints.each do |w| %>
    <%= render w %>
  <% end %>
<% end %>

<%= link_to "Add Waypoint", new_itinerary_waypoint_path(itinerary) %>
