<div class="container">
	<div style="margin-top: 50px">
	<a href="<%= new_itinerary_path %>" class="btn btn-primary pull-left">Add Itinerary</a>
	</div>
	<br>
	<hr/>
	<% @itineraries.each do |i| %>
		<div style="margin-top: 10px">
			<h3><%= i.name %>, Destination: <%= i.destination %></h3>
			<a href="/itineraries/<%= i.id %>/waypoints/new" class="btn btn-primary pull-left" style="margin-right:20px">Add a Waypoint</a>
			<a href="/itineraries/<%= i.id %>/travelers/new" class="btn btn-primary pull-left">Add a Traveler</a>
			<a href="<%= edit_itinerary_path(i.id)%>" class="btn btn-primary pull-left" style="margin-left:20px">Edit Itinerary</a>
		</div>
	<%end %>
</div>
