<h2>New Itinerary:</h2>
<%= simple_form_for(@itinerary) do |f| %>
  <%= f.input :name %>
  <%= f.input :origin %>
  <%= f.input :destination %>
  <%= f.input :depart_on, as: :date %>
  <%= f.input :return_on, as: :date %>
  <%= f.button :submit, "Create" %>
<% end %>
