<div class="container">
	<%= simple_form_for(@traveler, html: {class: 'form-inline' }) do |f| %>
		<%= f.input(:first_name, placeholder: "First Name") %>
		<%= f.input(:last_name, placeholder: "Last Name") %>
		<%= f.input(:email, placeholder: "Email") %>
		<%= submit_tag("Create Traveler") %>
	<% end %>
</div>