<div>
	<h3>Name: <small><%= @traveler.first_name %> <%= @traveler.last_name %></small> Email: <small><%= @traveler.email %></small></h3>
	<%= link_to "Edit", edit_itinerary_traveler_path, class: "btn btn-primary" %>
	<%= link_to "Back to Itinerary", itineraries_path, class: "btn btn-primary" %>
</div>
