<h2>New Waypoint for Itinerary <%= @itinerary.name %></h2>
<%= simple_form_for [@itinerary, @waypoint] do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :occurs_on, as: :date %>
  <%= f.association :travelers, as: :check_boxes, label_method: :full_name %>
  <%= f.button :submit, "Create" %>
<% end %>
