<h2>New Waypoint for Itinerary <%= @itinerary.name %></h2>
<%= simple_form_for [@itinerary, @waypoint] do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.button :submit, "Create" %>
<% end %>
